*{
    margin: 0;
    padding: 0;
}
header{
    margin: 15px;

}
body{
    
    max-height:200vh;
    max-width:100vh;
    background-color:mediumspringgreen;
   

}
p{
    margin: 10px;
    padding: 5px;
}
.main{
margin: 30px;
padding: 5px;
border: 5px solid transparent;
background-color:mediumseagreen;
align-items: center;
list-style-type: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;

border-bottom-style: groove;
border-right-style: groove;
border-bottom-color: mediumspringgreen;
border-right-color: mediumspringgreen;
border-image-outset: 30px;

}
.main h2{
    color: whitesmoke;
}
.image img{
    margin: 40px;
    height:300px;
    width:400px;
    
}

.end {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.end li {
    text-decoration: none;
}